* {
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 100%

}

body {

    
  background-color: powderblue;
}
span {

	width:100%;

  
}

.glif {
    
    font-size: 155% !important;
    background-color: #9d9d9d !important;
    color: #222 !important;
    border-radius: 4px;
    margin-left: 11px;
    margin-top: 3px;
    
}

.glif:hover {
    
    
    background-color: #222   !important;
    color: #9d9d9d !important;
    border: 2px solid #9d9d9d !important;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 25%;
    height: 100%;
    background-color: #222;
      
}

.flexuser {
   	
   	

  
    color: #222;
    padding: 10px;
margin-left: 10px;
 border-radius: 4px;
background-color: #9d9d9d;
font-size: 86%;
font-weight: bold;

 }
 
 .flexuserlogin {
   	  
        padding: 10px;
        margin-top: 10px;
 border-radius: 4px;
background-color: #9d9d9d;
font-size: 86%;
font-weight: bold;

 }
 
 .posta {
     
     font-size: 170%;
     border-radius: 4px;
     margin-left:1px;
     padding: 9px !important;
     background-color: teal !important;
         color: powderblue !important;
         margin-top:10px;
         margin-right:2px;
        
     
     
 }
 
 .posta:hover {
     
     background-color: powderblue !important;
         color: teal !important;
         border: 2px solid teal !important;
     
 }
 
 .pmglif {
     
     font-size: 170%;
     border-radius: 4px;
     margin-left:1px;
     padding: 9px !important;
     background-color: green !important;
         color: lightgreen !important;
         margin-top:10px;
         margin-right:2px;
        
     
     
 }
 
 .pmglif:hover {
     
     background-color: lightgreen !important;
         color: green !important;
         border: 2px solid green  !important;
     
 }
 
  .pmglifnew {
     
     font-size: 170%;
     border-radius: 4px;
     margin-left:1px;
     padding: 9px !important;
     background-color: goldenrod!important;
         color: papayawhip !important;
         margin-top:10px;
         margin-right:2px;
        
     
     
 }
 
 .pmglifnew:hover {
     
     background-color: papayawhip !important;
         color: goldenrod !important;
         border: 2px solid goldenrod  !important;
     
 }
 
  .pmglifinbox {
     
     font-size: 170%;
     border-radius: 4px;
     margin-left:1px;
     padding: 9px !important;
     background-color: orangered !important;
         color: lightsalmon !important;
         margin-top:10px;
         margin-right:2px;
        
     
     
 }
 
 .pmglifinbox:hover {
     
     background-color: lightsalmon !important;
         color: orangered !important;
         border: 2px solid orangered !important;
     
 }
 
  .pmglifsend {
     
     font-size: 170%;
     border-radius: 4px;
     margin-left:1px;
     padding: 9px !important;
     background-color: indigo !important;
         color: mediumorchid !important;
         margin-top:10px;
         margin-right:2px;
        
     
     
 }
 
 .pmglifsend:hover {
     
     background-color: mediumorchid !important;
         color: indigo !important;
         border: 2px solid indigo  !important;
     
 }
 
  .user {
     
     font-size: 170%;
     border-radius: 4px;
     margin-left:1px;
     padding: 9px !important;
     background-color: dodgerblue !important;
         color: powderblue !important;
         margin-top:10px;
         margin-right:2px;
 
 }
 
 .user:hover {
     
     background-color: powderblue !important;
         color: dodgerblue !important;
         border: 2px solid dodgerblue !important;
     
 }
 
   .odjava {
     
     font-size: 170%;
     border-radius: 4px;
     margin-left:1px;
     padding: 9px !important;
     background-color: firebrick !important;
         color: lightpink !important;
         margin-top:10px;
         margin-right:2px;
         
     
     
 }
 
 .odjava:hover {
     
     background-color: lightpink !important;
         color: firebrick !important;
         border: 2px solid firebrick !important;
     
 }
 



 .korisni2 {
   	height: 100%;
   	width:25%;
overflow-y: scroll;
    background-color: #222;
    padding-right: 12px;
  left:0%;
 border-radius: 0px;
 position: fixed;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
 }



.mojnavbar {

   
display: -webkit-flex;
    display: flex;
background-color: teal;
height:8%;
position: relative;
width:75%;
left:25%;

}

.mojnavbarforma {
  
   
  padding:10px;
  width:100%;
  height:auto;
  background-color: teal;
  display: -webkit-flex;
    display: flex;

}

.mojnavbar2 {

display: -webkit-flex;
    display: flex;
background-color: cadetblue;
height:8%;
position: relative;
width:75%;
left:25%;

}

.mojnavbarforma2 {
  
  
  padding:10px;
  width:100%;
  height:auto;
  background-color: cadetblue;
  display: -webkit-flex;
    display: flex;

}

.mojnavbarindex {

display: -webkit-flex;
    display: flex;
background-color: cadetblue;
height:6%;
position: relative;
width:75%;
left:25%;

}

.mojnavbarformaindex {
  
    
    color: #222;
  font-size: 150%;
  padding:10px;
  width:100%;
  height:auto;
  background-color: cadetblue;
  display: -webkit-flex;
    display: flex;

}

.GHS {
    
    background-color:white;
    padding:5px;
    border-radius: 4px;
    border: 2px solid teal;
    font-family: Play, sans-serif !important;
    display: flex;
}

.mojnavbarformaindexdetails {
  
    
    color: #222;
  font-size: 100%;
  padding:10px;
  width:100%;
  height:auto;
  background-color: cadetblue;
  display: -webkit-flex;
    display: flex;
    

}
.GHSdetails {
    
    margin-top: 5px;
    background-color:white;
    padding:3px;
    border-radius: 4px;
    border: 2px solid teal;
    font-family: Play, sans-serif !important;
    display: flex;
    padding: 5px;
}

.pm {
    
    list-style-type: none;
    padding:2px;
}

.caption {
    
    height: auto;
    padding-bottom: 15px;
    padding-right: 10px;
    color: #222;
    font-family: Play, sans-serif;
    font-size:135%;
}

.pmfolder {
    
    
    text-decoration: none;
    color: #9d9d9d;
   
}

.pmfolder:hover {
    
    text-decoration: none;
    color: #9d9d9d;
    
}



.korisni2 a {
    background-color: #222; 
    color: #9d9d9d;
       padding: 12px; 
    text-decoration: none;
}



.signup {
	padding-left: 10px;
  padding-top: 20px;
  color: #9d9d9d;
      }


.form-control2 {
  display: flex;
  width:100%;
  height: 34px;
  padding: 6px 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #9d9d9d;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      }

      .form-control3 {
  
  display: flex;
  height: 34px;
  padding-right: 5px;
  padding-left:5px;
  margin-left:5px;
  margin-right:5px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #9d9d9d;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      }



.butoni {
width:100%;

      }

      .butonnavbar {

        width:20%;
      }
      
      .butonnavbar2 {

        width: 15.9%;
      }

.navbar-title {

  padding: 5px;
}

.navbar-title2 {

padding-left: 10px;

}

.sadrzaj {


left:25%;
background-color: powderblue;
width:75%;
height:100% ;
position: relative;
padding:20px;


}

.tablahead {
  background-color: white;
position: relative;
padding:12px;
  border-radius: 5px;
  border: 4px solid teal;
  width:100%;
  overflow-x: scroll;
 

}

.tablaheadforum {
  background-color: white;
position: relative;
padding:12px;
margin-bottom: 12px;
  border-radius: 5px;
  border: 2px solid teal;
  width:100%;
  overflow-x:scroll;
  height: auto;
  
  
}

.textareaforum {
    width: 100%;
        border-color: teal;
    border-radius: 5px;
   
   
    
}

table {

border-spacing: 5px;
  
}


table th td {
text-align: center;


}
th {
    height: auto;
    padding-bottom: 15px;
    padding-right: 10px;
    color: #222;
    
}

.tha a {
    
    text-decoration: none;
    color: #222;
    
    
}



td {

 padding-right: 5px;
 padding-top: 5px;
 padding-bottom: 5px;
 
}

.tdforum {
    
    font-size: 73% !important;
}

.tr {
    height: auto;
    color: #9d9d9d;
    font-weight: bold;
    
}
.tr:hover {
    
    background-color: powderblue;
    color: black;
    border: 1px solid cadetblue;
    text-decoration: none;
    
}

.trdet {
    height: auto;
    color: #9d9d9d;
    font-weight: bold;
    
}


.trforum {
    height: auto;
    color: #9d9d9d;
    font-weight: bold;
   
    
}



td a {
    
    text-decoration: none;
    color: #9d9d9d;
}

td a:hover {
    
    text-decoration: none;
    color: #9d9d9d;
}


.nazivfilma {

  width:25%;
}

.file{

  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label {
     font-size: 155% !important;
    background-color: #9d9d9d !important;
    color: #222 !important;
    border-radius: 4px;
    padding:11px;
    margin-left: 10px;
    display: inline-block;
   
}

label:hover {
background-color: #222 !important;
color: #9d9d9d !important;
border-radius: 4px;
font-size:163%;
border: 2px solid #9d9d9d !important;


}

